header {
  border-bottom: 1px solid lightgray;
  background-color: hsl(0, 0%, 100%);
  width: 90vw;
  max-width: 1160px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  header {
    border-bottom-color: transparent;
    width: 95vw;
  }
}
