@import url("../../stylesheets/theme.css");

.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  margin-top: 3.8rem;
}

@media (max-width: 768px) {
  nav {
    margin-top: 0px;
  }

  .navigation-wrapper {
    padding: 1rem 0px;
  }
}
