@import url("../../stylesheets/theme.css");

.navigation-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

nav {
  margin-top: 3.8rem;
}

.main-navigation {
  display: inline-block;
  margin-left: 4.8rem;
}

.main-navigation li {
  display: inline-block;
  margin: 0 1rem;
}

.main-navigation a {
  color: var(--Dark-grayish-blue);
  display: inline-block;
  padding-bottom: 3.2rem;
  border-bottom: 4px solid transparent;
  transition: all 120ms ease-in-out;
}

.brand-logo {
  display: inline-block;
}

.main-navigation a:hover {
  border-color: var(--Orange);
  color: var(--Black);
}
