@import url("../../stylesheets/theme.css");

.profile-navigation {
  display: flex;
  align-items: center;
  position: relative;
}

.cart-btn {
  margin-right: 2.8rem;
  border: none;
  position: relative;
}

.cart-icon {
  fill: var(--Dark-grayish-blue);
  transition: fill 60ms ease-in-out;
}

.avatar {
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border 60ms ease-in-out;
}

.avatar img {
  width: clamp(36px, 3vw, 44px);
}

.badge::after {
  content: attr(value);
  position: absolute;
  display: block;
  color: var(--White);
  background: var(--Orange);
  font-size: 1.2rem;
  border-radius: 9999px;
  padding: 1px 8px;
  top: -9px;
  left: 11px;
  pointer-events: none;
}

@media (max-width: 768px) {
  .cart-btn {
    margin-right: 1.6rem;
  }
}

/* effects */

@media (hover: hover) {
  .avatar:hover {
    border: 2px solid var(--Orange);
    cursor: pointer;
  }

  .cart-btn:hover {
    cursor: pointer;
  }

  .cart-icon:hover {
    fill: var(--Black);
  }
}
