.profile-navigation {
  display: flex;
  align-items: center;
}

.cart-btn {
  margin-right: 2.8rem;
  border: none;
}

.cart-icon {
  fill: var(--Dark-grayish-blue);
  transition: fill 60ms ease-in-out;
}

.avatar {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border 60ms ease-in-out;
}

.avatar img {
  width: 44px;
  height: 44px;
}

/* effects */

.avatar:hover {
  border: 2px solid var(--Orange);
  cursor: pointer;
}

.cart-btn:hover {
  cursor: pointer;
}

.cart-icon:hover {
  fill: var(--Black);
}
