@import url("../../stylesheets/theme.css");

.sneaker-price {
  width: fit-content;
  margin-top: 1.6rem;
}

.price {
  font-size: 2.2rem;
  font-weight: 700;
}

.discount-amount {
  display: inline-block;
  vertical-align: top;
  font-size: 0.6em;
  background-color: var(--Pale-orange);
  color: var(--Orange);
  padding: 0.6rem 0.8rem;
  border-radius: 5px;
  margin-left: 15px;
}

.old-price {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  font-weight: 700;
  font-size: 1.6rem;
  color: var(--Grayish-blue);
  margin-top: 0.4rem;
}

@media (max-width: 768px) {
  .sneaker-price {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3.6rem;
  }

  .old-price {
    font-size: 1.8rem;
  }

  .price {
    font-size: 2.6rem;
  }
}
