.sneaker-info {
  flex: 1 1 0%;
  padding: 0px 32px;
  max-width: 550px;
  margin-top: 50px;
}

@media (max-width: 1024px) {
  .sneaker-info {
    padding: 0;
  }
}
@media (max-width: 768px) {
  .sneaker-info {
    padding: 0px 30px;
    margin-top: 0;
    max-width: 600px;
  }
}
