@import url("../../stylesheets/theme.css");

.brand-name {
  text-transform: uppercase;
  font-size: clamp(1rem, 2.25vw, 1.4rem);
  color: var(--Orange);
  margin-bottom: 2.5rem;
}

.sneaker-name {
  font-size: clamp(2.15rem, 2.5vw, 3.6rem);
  line-height: 4rem;
  margin-bottom: 1.6rem;
}

.sneaker-description {
  font-size: 1.6rem;
  color: var(--Dark-grayish-blue);
  line-height: 2.5rem;
}

@media (max-width: 1024px) {
  .brand-name {
    margin-bottom: 1rem;
  }

  .sneaker-name {
    margin-bottom: 1rem;
  }

  .sneaker-description {
    line-height: 2.2rem;
  }
}
