@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

html {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 16px;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 100%;
}

a {
  color: black;
}

img {
  vertical-align: middle;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}
