@import url("../../stylesheets/theme.css");

.input-btn {
  padding: 1.8rem;
  border: none;
}

.input-btn svg {
  vertical-align: middle;
}

.input-amount {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Light-grayish-blue);
  border-radius: 8px;
}

.input-amount input {
  border: none;
  outline: none;
  width: 3ch;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.input-btn:hover {
  cursor: pointer;
}

/* Hide default number input arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 1024px) {
  .input-amount input {
    width: 2ch;
  }
}
